<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>ComplainBoard</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
 <link rel="stylesheet" th:href="@{/Home.css}">
  <link rel="stylesheet" th:href="@{/style.css}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<section id="sidebar"> 
    <div class="white-label">
    </div> 
    <div id="sidebar-nav">   
      <ul>
        <li><a href="/Home"><i class="fa fa-dashboard"></i> 메인 화면 </a></li>
      <li><a href="/board/boardList"><i class="fa fa-desktop"></i> 공지사항 </a></li>
      <li class="active"><a href="/complain/complainList"><i class="fa fa-pencil-square-o"></i> 건의 게시판 </a></li>
      <li><a href="/information/info"><i class="fa fa-cogs"></i> 공조기란? </a></li>     
      <li><a href="/profile"><i class="fa fa-users"></i> 팀원 소개 </a></li>
      <li><a href="/user/userList"><i class="fa fa-sitemap"></i> 사용자 관리 </a></li>
      </ul>
    </div>
  </section>
  <section id="content">

 
    <div id="header">
      <div class="header-nav">
        <div class="menu-button">
        			<form class="d-flex" method="GET" th:action="@{/complain/complainList}">
            </div>
        
          
    
        </div>
        </div>
           <div class="content-header">
        <h1>건의사항</h1>
        <p></p>
      </div>
        
       
    <div class="content">
    <div class="container">
		<h2>건의사항</h2>
		<table class="board_list">
			<colgroup>
				<col width="15%" />
				<col width="*" />
				<col width="15%" />
				<col width="20%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">작성자</th>
					<th scope="col">제목</th>
					<th scope="col">조회수</th>
					<th scope="col">작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(list)} > 0" th:each="vo : ${list}">
					<td th:text="${vo.createId}"></td>
					<td>
						 <span> 
							<a th:if="${#strings.contains(userCpRole,'ADMIN')}" th:href="@{/complain/complainDetail/{complainIdx}(complainIdx=${vo.complainIdx})}" th:text="${vo.title}"></a>
							<a th:unless="${#strings.contains(userCpRole,'ADMIN')}" th:text="${vo.title}"></a>
						</span>  
					</td>
					<td th:text="${vo.hitCnt}"></td>
					<td th:text="${#strings.substring(vo.createDatetime,0, 10)+ ' ' + #strings.substring(vo.createDatetime,11, 19)}"></td>
					

				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<a href="/complain/complainInsert" class="btn">글쓰기</a>
		<!-- <span th:value="${userCpRole}"> </span>
		<span th:text="${userCpId}"> </span> -->
		</div>
    
    </div>
 
  </section>
  </body>
  </html>